<form [formGroup]="filterForm" class="filter">
  <input
    formControlName="business_name"
    placeholder="Найти компанию"
    class="control">
  <label class="label">
    Тип компании
    <select
      formControlName="type"
      class="control control--select"
    >
      @for (companyType of companyTypesList; track companyType.id) {
        <option [ngValue]="companyType.value">
          {{ companyType.value }}
        </option>
      }
    </select>
  </label>
  <label class="label">
    Вид деятельности
    <select
      formControlName="industry"
      class="control control--select"
    >
      @for (companyIndustry of companyIndustryList; track companyIndustry.id) {
        <option [ngValue]="companyIndustry.value">
          {{ companyIndustry.value }}
        </option>
      }
    </select>
  </label>
</form>
